<div id="securityModal" class="modal" style="display: none;">
    <div class="modalContent">
        <h2>Verificación de seguridad</h2>
        <p>Hemos enviado un código de seguridad a tu email.</p>
        <p>Ingresalo a continuación:</p>
        <input type="text" id="securityCodeInput" placeholder="Código de seguridad">
        <div id="errorsSecurityCode" class="errorMessage"></div>
        <button id="verifyCodeButton">Verificar código</button>
    </div>
</div>