<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs') %>

<body>
    <section class="homeSection">
        <h1>Home</h1>

        <div class="buttons">
            <a href="/login"><button>Login</button></a>
            <a href="/register"><button>Registro</button></a>
        </div>
    </section>

    <%- include('./partials/footer.ejs') %>

</body>
</html>